@use './partials/variables' as *;
@import '~bootstrap/scss/bootstrap';

body {
  font: 400 16px/1.5 "Poppins", sans-serif;
}

main,
nav {
  background-color: $color_light;
}

.custom_container {
  max-width: 1600px;
  margin: auto;
}

.bg_dark {
  background-color: $color_dark;
}

.bg_light {
  background-color: $color_light;
}

.custom_btn {
  height: 45px;
  padding: 0.7rem 1.4rem;
  border-radius: 9px;
  text-decoration: none;
}

.btn_primary {
  background-color: $color_primary;
  border-color: $color_primary;
  color: white;

  &:focus,
  &:hover {
    background-color: $color_primary_hover;
    border-color: $color_primary_hover;
  }

  &:active {
    background-color: $color_primary_active;
    border-color: $color_primary_active;
  }
}

.btn_red {
  background-color: $color_danger;
  border-color: $color_danger;
  color: white;

  &:focus,
  &:hover {
    background-color: $color_danger_hover;
    border-color: $color_danger_hover;
  }

  &:active {
    background-color: $color_danger_active;
    border-color: $color_danger_active;
  }
}

.table-responsive {
  border-radius: 9px;
  box-shadow: 0 0 1.5rem 0.2px #3e3e3e;
  margin-bottom: 2rem;

  .type {
    color: $color_light;
    height: 30px;
    width: 90px;
    padding: 10px;
    border: 1px solid $color_light;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;
    line-height: 10px;
  }

  .fullstack {
    background-color: $color_fullstack_badge;
  }

  .front-end {
    background-color: $color_frontend_badge;
  }

  .back-end {
    background-color: $color_backend_badge;
  }

  .action {
    border-radius: 5px;
    font-weight: bold;
    font-size: 0.8rem;
  }
}

// Pagination
.page-link,
.page-item {
  color: $color_light;
}

.disabled>.page-link {
  border-color: $color_light;
}

.active>.bg_primary {
  background-color: $color_primary;
  border: 1px solid #e9ecef;
}

.pagination {

  span,
  a {
    width: 36px;
    text-align: center;
    aspect-ratio: 1;
    padding: 6px 12px;
    border: 1px solid #e9ecef;
  }

  a {
    background-color: #3e3e3e;
  }
}