@use './partials/variables' as *;
@import '~bootstrap/scss/bootstrap';

/* #region :::: UTILITIES :::: */
body {
  font: 400 16px/1.5 "Poppins", sans-serif;
}

main,
nav {
  background-color: $color_light;
}

.custom_container {
  max-width: 1600px;
  margin: auto;
}

.bg_dark {
  background-color: $color_dark;
}

.bg_light {
  background-color: $color_light;
}

.custom_btn {
  height: 45px;
  padding: 0.7rem 1.4rem;
  border-radius: 9px;
  text-decoration: none;
}

.btn_primary {
  background-color: $color_primary;
  border-color: $color_primary;
  color: white;

  &:focus,
  &:hover {
    background-color: $color_primary_hover;
    border-color: $color_primary_hover;
  }

  &:active {
    background-color: $color_primary_active;
    border-color: $color_primary_active;
  }
}

.btn_red {
  background-color: $color_danger;
  border-color: $color_danger;
  color: white;

  &:focus,
  &:hover {
    background-color: $color_danger_hover;
    border-color: $color_danger_hover;
  }

  &:active {
    background-color: $color_danger_active;
    border-color: $color_danger_active;
  }
}

.type {
  color: #fefefe;
  height: 30px;
  width: 75px;
  padding: 10px;
  border: 1px solid #fefefe;
  background-color: #2e2e2e;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.65rem;
  font-weight: 500;
}

.fullstack {
  background-color: $color_fullstack_badge;
}

.front-end {
  background-color: $color_frontend_badge;
}

.back-end {
  background-color: $color_backend_badge;
}

/* #endregion :::: UTILITIES :::: */


/* #region :::: TABLE :::: */

.table-responsive {
  border-radius: 9px;
  box-shadow: 0 0 1.5rem 0.2px #3e3e3e;
  margin-bottom: 2rem;
  max-height: 90%;
  overflow-y: auto;

  thead {
    th {
      position: sticky;
      top: 0px;
      font-size: 0.9rem;
    }
  }

  tbody {
    td {
      font-size: 0.8rem;
    }

    .action_small {
      border-radius: 5px;
      font-weight: bold;
      font-size: 0.8rem;
      width: 30px;
      aspect-ratio: 1;
    }

    .action {
      border-radius: 5px;
      font-weight: bold;
      font-size: 0.8rem;
      min-width: 60px;
    }
  }
}

/* #endregion :::: TABLE :::: */


/* #region :::: PAGINATION :::: */
.page-link,
.page-item {
  color: $color_light;
}

.disabled>.page-link {
  border-color: $color_light;
}

.active>.bg_primary {
  background-color: $color_primary;
  border: 1px solid #e9ecef;
}

.pagination {

  span,
  a {
    width: 36px;
    text-align: center;
    aspect-ratio: 1;
    padding: 6px 12px;
    border: 1px solid #e9ecef;
  }

  a {
    background-color: #3e3e3e;
  }
}

/* #endregion :::: PAGINATION :::: */


/* #region :::: DASHBOARD :::: */

.dashboard_container {
  height: calc(100vh - (85px + 88px));
  overflow-y: hidden;

  .sidebar {
    max-width: 150px;
    min-width: 60px;
    flex-shrink: 0;

    a {
      text-decoration: none;
      color: var(--db-font_light);

      &:hover {
        background-color: $color_primary;
        border-radius: 4px;
      }
    }
  }
}


/* #endregion :::: DASHBOARD :::: */