// Color palette

$color_lighter: #fefefe;
$color_light: #65747d;
$color_dark: #1B263B;
$color_darker: #0D1B2A;
$color_primary: #57CC99;
$color_primary_hover: #41996cc7;
$color_primary_hover_border: #41996b;
$color_primary_active: #367f59c7;
$color_danger: #e63946;
$color_danger_hover: #c12f3bc7;
$color_danger_hover_border: #c12f3b;
$color_danger_active: #b92d39c7;
$color_fullstack_badge: #CC578A;
$color_frontend_badge: #CC578A;
$color_backend_badge: #CC578A;