// Color palette

$color_light: #fefefe;
$color_dark: #2e2e2e;
$color_primary: #ff7c2e;
$color_primary_hover: #d76726;
$color_primary_active: rgb(160, 76, 27);
$color_danger: #e63946;
$color_danger_hover: #c12f3b;
$color_danger_active: #b92d38;
$color_fullstack_badge: #2fb373;
$color_frontend_badge: #f4ac40;
$color_backend_badge: #49b3f1;